.SettingsSecurity {
  padding: 24px;
}

.SettingsSecurity-section-1 {
  background: #ffffff;
  border-radius: 8px;
  padding: 24px;
  height: 100%;
}

.heading {
  /* //styleName: Body Large/Semibold; */
   /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  /* text-align: left; */
}



/* Extra small devices (phones, 400px and down) */
@media only screen and (max-height: 600px) {
}
/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 600px) {
  .SettingsSecurity {
    padding: 12px;
  }

  .SettingsSecurity-section-1 {
    padding: 12px;
    
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}