.mainDiv {
  display: flex;
  width: 134px;
  height: 40px;
  padding: 10px;
  border-radius: 6px;
  gap: 12px;
  align-items: center;
  background-color: white;
  cursor: pointer;
  color: #4b78bb;
  font-weight: 600;
  font-size: 14px;
  justify-content: space-between;
}

.label{
  margin-left: 6px;

}