.TestimonialSection {
  display: flex;
  flex-direction: column;

  /* padding: 84px; */
  /* margin: 84px; */

  border-radius: 200px;
  /* position: relative; */
  /* height: calc(100vh - 90px); */
  align-items: center;
  justify-content: space-between;
}

.TestimonialSection_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeButton {
  padding: 10px 20px;
  border: 1px solid #2a2d31;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 800;
  line-height: 19.84px;
  text-align: left;
  color: #2a2d31;
}

.heading {
  font-family: Cabinet Grotesk;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  /* text-align: center; */
  color: #193f76;
}
/* .text {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  color: white;
  opacity: 80%;
} */

.laptop {
  margin-top: 64px;
}

.featureCards {
  margin-top: 32px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.startedBtn {
  width: 184px;
  height: 56px;
  border-radius: 49px;
  /* border-radius: 49px 0px 0px 0px; */
  border: 1px 0px 0px 0px;
  /* opacity: 0px; */
  box-shadow: 3px 3px 0px 0px #2a2d31;

  background-color: #ff900e;
  font-family: Cabinet Grotesk;
  font-size: 18px;
  font-weight: 700;
  /* line-height: 22.32px; */
  text-align: left;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  margin-top: 36px;
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-height: 600px) {
}
/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 600px) {
  .TestimonialSection {
    margin: 12px;
    padding: 12px;
    border-radius: 40px;
  }
  .heading {
    font-size: 24px;
    line-height: 26px;
  }
  .text {
    font-size: 14px;
    line-height: 23px;
  }
  .laptop {
    width: auto;
    height: 211px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .TestimonialSection {
    margin: 12px;
    padding: 12px;
    border-radius: 40px;
  }
  .heading {
    font-size: 24px;
    line-height: 26px;
  }
  .text {
    font-size: 14px;
    line-height: 23px;
  }
  .laptop {
    width: auto;
    height: 211px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .TestimonialSection {
    margin: 12px;
    padding: 12px;
    border-radius: 40px;
  }
  .heading {
    font-size: 24px;
    line-height: 26px;
  }
  .text {
    font-size: 14px;
    line-height: 23px;
  }
  .laptop {
    width: auto;
    height: 211px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .TestimonialSection {
    /* margin: 12px;
    padding: 12px;
    border-radius: 40px; */

    /* display: flex;
    flex-direction: column; */

    border-radius: 200px;
  }
  .heading {
    font-size: 48px;
    line-height: 52px;
  }
  .text {
    font-size: 14px;
    line-height: 23px;
  }
  .laptop {
    margin-top: 64px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .TestimonialSection {
    /* padding: 84px;
    margin: 84px; */
  }
}
