.DashboardExams {
  display: flex;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 12px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

.DashboardExams-left {
  display: flex;

  align-items: center;
}

.DashboardExams-left-main {
  display: flex;
  flex-direction: column;
}
.DashboardExams-right {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.title {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  /* text-align: left; */
}

.detailText {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
}

.icon {
  width: 48px;
  height: 48px;
  gap: 0px;
  border-radius: 8px;
  margin-right: 16px;
  background: #f3f4f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  column-gap: 6px;
}

.details-section {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
