.QuestionBar {
  display: flex;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  height: 68px;
}

.QuestionBar-left {
  display: flex;

  align-items: center;
  flex: 1;
  cursor: pointer;
}

.QuestionBar-left-main {
  display: flex;
  flex-direction: column;
}
.QuestionBar-right {
  display: flex;
  column-gap: 16px;
  align-items: center;
  position: relative;
}

.title {
   /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}

.icon {
  width: 44px;
  height: 44px;
  gap: 0px;
  border-radius: 8px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa63e;
  color: white;
   /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
