.forgotMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerMain {
  /* display: flex;f */
}

.title {
  /* //styleName: Heading5/Semibold; */
   /* font-family: Poppins; */
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #1d1f22;
  text-align: center;
}
.basic {
   /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #6f7680;
  /* width: 100%;
  max-width: 380px;
  margin: 0 auto; */
}
.form {
  margin-top: 16px;
}

.inputDiv {
  margin-top: 4px;
}

.icon {
  display: flex;
  width: 65px;
  height: 65px;
  /* padding: 12px 12px 11px 11px; */
  gap: 0px;
  border-radius: 16px;
  background-color: #ff900e;
  align-items: center;
  justify-content: center;
}
.successIcon {
  display: flex;
  width: 65px;
  height: 65px;
  /* padding: 12px 12px 11px 11px; */
  gap: 0px;
  border-radius: 16px;
  background-color: #4ac776;
  align-items: center;
  justify-content: center;
}

.otp-input {
  width: 64px;
  height: 64px;
  padding: 7px 21px 6px 21px;
  border-radius: 16px;
  /* border: 1.5px 0px 0px 0px; */
  opacity: 0px;
  border: 1.5px solid #0030dd;
   /* font-family: Poppins; */
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
  text-align: left;
  color: #0030dd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.otp-input-invalid {
  width: 64px;
  height: 64px;
  padding: 7px 21px 6px 21px;
  border-radius: 16px;
  /* border: 1.5px 0px 0px 0px; */
  opacity: 0px;
  border: 1.5px solid #cc5200;
   /* font-family: Poppins; */
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
  text-align: left;
  color: #cc5200;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.linkText {
   /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #0030dd;
  cursor: pointer;
}

.invalidText {
   /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #cc5200;
  text-align: center;
  margin-bottom: 16px;
}
