.primary {
  width: 100%;
  height: 64px;
  border-radius: 8px;

  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0030dd;
  color: #0030dd;
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.primary-lessHeight {
  width: 100%;
  height: 42px;
  border-radius: 8px;

  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0030dd;
  color: #0030dd;
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.primaryActive {
  width: 100%;
  height: 64px;
  border-radius: 8px;
  background: #0030dd;
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.primaryActive-lessHeight {
  /* width: 100%; */
  height: 42px;
  border-radius: 8px;
  background-color: #0030dd !important;
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.inactiveButton {
  width: 100%;
  height: 64px;
  border-radius: 8px;
  /* background: #ff900e; */
  color: #6f7680;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dcdfe2;
}

.yellowButton {
  width: 100%;
  height: 64px;
  border-radius: 8px;
  background: #ff900e;
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellowButton-lessHeight {
  /* width: 100%; */
  height: 42px;
  border-radius: 8px;
  background: #ff900e;
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orangeButton {
  /* width: 100%; */
  height: 42px;
  border-radius: 8px;
  background: #cc5200;
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundedYellow {
  width: 100%;
  height: 33px;
  border-radius: 64px;
  background: #ff900e;
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;

  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
}

.startedBtn {
  width: 184px;
  height: 56px;
  border-radius: 49px;
  /* border-radius: 49px 0px 0px 0px; */
  border: 1px 0px 0px 0px;
  /* opacity: 0px; */
  box-shadow: 3px 3px 0px 0px #2a2d31;

  background-color: #ff900e;
  font-family: Cabinet Grotesk;
  font-size: 18px;
  font-weight: 700;
  /* line-height: 22.32px; */
  text-align: left;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  margin-top: 36px;
}
.primaryTab {
  /* width: 100%; */
  height: 40px;
  border-radius: 6px;
  background-color: #0030dd;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 14px;
  /* outline: 1px solid #0030dd; */
}
.secondaryTab {
  /* width: 100%; */
  height: 40px;
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: white;
  /* border: 1px solid #0030dd; */
}

.purpleBtn {
  height: 40px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: #7f56d9;
  color: white;
}
.secondaryBtn {
  height: 40px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: white;
  color: #101828;
  border: 1px solid #d0d5dd;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.disabled:hover {
  border-color: gray;
}

.primaryRounded {
  /* width: 100%; */
  height: 45px;
  border-radius: 64px;
  background: white;
  color: #0030dd;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0030dd;

  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

@media (max-width: 768px) {
  .startedBtn {
    font-size: 16px;
    margin-top: 16px;
  }
}
