.modal-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
   /* font-family: Poppins; */
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #1d1f22;
}
.basic {
   /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6f7680;
}

.form {
  margin-top: 16px;
}

.inputDiv {
  margin-top: 4px;
}


@media (max-width: 768px) {
.basic{
  font-size: 12px;

  line-height: 18px;
}
}
