.title {
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 16px;
}
.basic {
  /* font-family: Inter; */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
}
.form {
  margin-top: 16px;
}

.inputDiv {
  margin-top: 4px;
}

.ViewCardModal-main {
  background: white;
  /* padding: 24px; */
  border-radius: 12px;
  /* width: 100%; */

  /* padding: 0 32px;
    height: 100%; */
}

.ViewCardModal-mainHead {
  display: flex;
  /* column-gap: 12px; */
  align-items: center;
  margin-bottom: 16px;
  padding: 16px;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

.ViewCardModal-mainHead-left {
  display: flex;
  column-gap: 12px;
}

.ViewCardModal-mainHead-right {
  width: 180px;
}

.ViewCardModal-option {
  border: 1px solid #dcdfe2;
  display: flex;
  padding: 12px;
  border-radius: 12px;
  align-items: center;
  column-gap: 8px;

  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  min-height: 45px;
}

.tags {
  display: flex;
  column-gap: 8px;
  align-items: center;
  flex-direction: row;
  margin-top: 16px;
}

.tag {
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  /* min-height: 45px; */
}

.ViewCardModal-body {
  display: flex;
  padding: 16px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}
.ViewCardModal-body-main {
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.heading2 {
  /* font-family: Poppins; */
  font-size: 60px;
  font-weight: 600;
  line-height: 90px;
  text-align: center;
  color: #e8e9ec;
}

.ViewCardModal-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questionImage {
  /* max-width: 350px; */
  /* max-height: 350px; */
  object-fit: contain;
  /* margin: auto; */
  margin: 12px 0;
}
