.CreateExamQuestion {
  display: flex;
  max-height: 88vh;
  overflow-y: auto;
}

.CreateExamQuestion-main {
  background-color: #f8fbff;
  flex: 1;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CreateExamQuestion-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 16px;

  border-bottom: 1px solid lightgray;
}

.head-left {
  display: flex;
  column-gap: 12px;
}

.leftDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CreateExamQuestion-head {
  display: flex;
}

.title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #1d1f22;
}
.subHeading {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;

  color: #1d1f22;
}

.detailText {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #545961;
}

.icon {
  width: 48px;
  height: 48px;
  gap: 0px;
  border-radius: 8px;
  margin-right: 16px;
  background: #f3f4f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  column-gap: 6px;
}

.details-section {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.CreateExamQuestion-main-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.main-inner-right {
  display: flex;
  column-gap: 8px;
}

.CreateExamQuestion-main-questions {
  max-height: 62vh;
  overflow-y: auto;
  margin-bottom: 24px;
  padding: 8px;
}

.inputDiv {
  flex: 1;
}

.ansDiv {
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* 4 columns, each taking equal width */
  column-gap: 24px;
  row-gap: 24px;
}

.ansAndReason {
  background-color: white;
  border-radius: 12px;
  padding:24px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.ansAndReason-ans {
  border: 1px solid #dcdfe2;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  column-gap: 12px;
}

.ansAndReason-reason {
  border: 1px solid #dcdfe2;
  border-radius: 6px;
  padding: 8px;
}

.ansAndReason-img {
  border: 1px solid #dcdfe2;
  border-radius: 6px;
  padding: 8px;
  width: 40%;
  max-width: 168px;
  max-height: 64px;
}

.inputField {
  width: 100%;
}
.textArea {
  width: 100%;
}
