.logo {
  width: 120px;
  height: 48px;
  object-fit: contain;
}

.AuthLayout-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 24px;
  border-bottom: 1px solid #dcdfe2;
}

.AuthLayout-header-buttons {
  display: flex;
  column-gap: 8px;
}

.AuthLayout-body {
  display: flex;
  height: calc(100vh - 89px);
}
.leftSection {
  width: 50%;
}
.rightSection {
  width: 50%;
}



.Drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
}

.Drawer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.Drawer-content {
  position: relative;
  width: 250px;
  background: #fff;
  z-index: 1001;
  padding: 20px;
}

@media (max-width: 768px) {
  .leftSection {
    width: 100%;
  }
  .rightSection {
    display: none;
  }
}
