.label {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #1d1f22;
}

.GuageChart{
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
}