.ProfessorFlashcards {
  display: flex;
  max-height: 88vh;
  overflow-y: auto;
}
.ProfessorFlashcards-main {
  background-color: #f8fbff;
  flex: 0 0 65%;
  padding: 0 32px;
  height: 100%;
}

.ProfessorFlashcards-right {
  background-color: inherit;
  flex: 1;
}



.ProfessorFlashcards-section {
  margin: 20px 0;
}


.sectionHeading {
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}



.viewMore {
   /* font-family: Poppins; */
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  /* text-align: left; */
  text-transform: uppercase;
  border-bottom: 1px solid #383c41;
  cursor: pointer;
  /* text-underline-offset: #383c41; */
}

.right-section-main {
  padding: 24px;
}
