.drawer {
  position: fixed;
  top: 0;
  right: -60vw;
  /* width: 400px; */
  width: 60vw;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  overflow-y: auto;
}

.open {
  right: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.headerIndicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.questionImage {
  height: 360px;
  width: 50%;
  margin: auto;
}

.viewBtn {
  width: 144px;
}

/* .headerIndicators {
  display: flex;
  justify-content: space-between;
} */
.indicatorDiv {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.indicators {
  display: flex;
  gap: 10px;
}

.indicatorText {
  /* //styleName: Body Small/Regular;
font-family: Poppins; */
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #1d1f22;
}

.incorrect {
  color: #cc5200;

  padding: 10px;
  border-radius: 50%;
}

.correct {
  color: #4ac776;
  padding: 10px;
  border-radius: 50%;
}
.selectedAns {
  border: 2px solid #0030dd;
}
.selected {
  /* color: white; */
  border: 1px solid #0030dd;
  padding: 10px;
  border-radius: 50%;
  background-color: #e3f2fd;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.main {
  padding: 1rem;
}

.content {
  /* padding: 1rem; */
  background-color: white;
}

.questionBlock {
  margin-bottom: 1.5rem;
  background-color: #f8fbff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.options {
  margin-top: 0.5rem;
}

.option {
  padding: 0.5rem;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.option span {
  margin-right: 0.5rem;
}

.correct {
  background-color: #d4edda;
}

.incorrect {
  background-color: #f8d7da;
}

.viewScoreButton {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.heading {
  /* //styleName: Heading5/Semibold;
font-family: Poppins; */
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #1d1f22;
}

.mcqsDiv {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}

.mcq {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  overflow-y: auto;
  transition: all 1s ease-out;
}

.answer {
  margin-left: 10px;
}
.reason {
  margin-left: 10px;
}

.answerImg {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.ansAndImg {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 16px;
}

.correctOption {
  background-color: #4ac776;
  border-radius: 50%;
  padding: 8px;
  color: #ffffff;

  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.incorrectOption {
  background-color: #ff6600;
  border-radius: 50%;
  padding: 8px;
  color: #ffffff;

  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correctReason {
  background-color: #4ac776;
  border-radius: 12px;
  padding: 16px;
  color: #ffffff;
  width: 100%;
  /* width: 64px;
  height: 64px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.incorrectReason {
  background-color: #ffd1b2;
  border-radius: 12px;
  padding: 16px;
  color: #4c1f00;

  /* width: 64px;
  height: 64px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .drawer {
    width: 100%;
    right: -100%;
  }

  .open {
    right: 0;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .indicators {
    margin-top: 0.5rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.5rem;
  }

  .indicators {
    flex-direction: column;
    align-items: flex-start;
  }

  .viewScoreButton {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1rem;
    border-radius: 0;
  }
}
