.SwitchController {
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  /* border: 2px solid #cbebd4; */
  background: #fff;
  /* padding: 16px 32px 16px 24px; */
  padding: 16px 0;
  align-items: center;
}

.SwitchController-label {
  /* //styleName: Body Large/Medium; */
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.SwitchController-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  
}
