.StudentFlashcardsExplore {
  display: flex;
  max-height: 88vh;
  overflow-y: auto;
  /* width: calc(100% - 256px); */
}

.StudentFlashcardsExplore-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.StudentFlashcardsExplore-main {
  background-color: #f8fbff;
  flex: 0 65%;
  /* width: 65%; */
  padding: 24px 32px;
  height: 100%;
}

.StudentFlashcardsExplore-right {
  background-color: inherit;
  flex: 0 35%;
  /* width: 35%; */
}

.StudentFlashcardsExplore-section {
  margin: 20px 0;
}

.sectionHeading {
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.viewMore {
  /* font-family: Poppins; */
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  /* text-align: left; */
  text-transform: uppercase;
  border-bottom: 1px solid #383c41;
  cursor: pointer;
  /* text-underline-offset: #383c41; */
}

.right-section-main {
  padding: 24px;
}

@media (max-width: 768px) {
  .StudentFlashcardsExplore-right {
    display: none;
  }
  .StudentFlashcardsExplore-main {
    flex: 1;
    padding: 24px 12px;
  }
  .StudentFlashcardsExplore-head {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}
