.editor {
  /* //styleName: Body Large/Regular; */
  font-family: Poppins !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border-radius: 24px !important ;
}

.editorReadonly > div {
  border: none !important;
  min-width: 180px;
}
