.chartContainer {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin: 16px 0;
  max-width: 100%;
  height: 332px;
}

.chartWrapper {
  position: relative;
  margin-bottom: 24px;
}

.legend {
  position: absolute;
  top: 00px;
  right: 20px;
}

.deckText {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 114px;
  height: 38px;
  /* padding: 10px 0px 0px 0px; */
  gap: 10px;
  border-radius: 8px;
  background: #0030dd;
  color: white;
  /* opacity: 0px; */
}
.deckTextDecrease {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 114px;
  height: 38px;
  /* padding: 10px 0px 0px 0px; */
  gap: 10px;
  border-radius: 8px;
  background: #0030dd;
  color: white;
  /* opacity: 0px; */
}
.questionText {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 114px;
  height: 38px;
  /* padding: 10px 0px 0px 0px; */
  gap: 10px;
  border-radius: 8px;
  background: #ffbc6e;
  color: white;
  /* opacity: 0px; */
}
.questionTextDecrease {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 114px;
  height: 38px;
  /* padding: 10px 0px 0px 0px; */
  gap: 10px;
  border-radius: 8px;
  background: #ffbc6e;
  color: red;
  /* opacity: 0px; */
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.rightButtons {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
}

.activeBtn {
  border: 2px solid #0026b1;
  color: #0030dd;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
}
.inactiveBtn {
  /* border: 1px solid #0026b1; */
  color: #0030dd;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
}

.legendIndicator1 {
  background-color: #ff900e;
  padding: 6px;
}
.legendIndicator2 {
  background-color: #0030dd;
  padding: 6px;
}

.legendText {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  /* text-align: left; */
}
