.DecksManagement {
 
}

.DecksManagement-head {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.head-right {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.mainHeading {
  /* font-family: Inter; */
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  /* text-align: left; */
}

.greyText {
  /* //styleName: Text md/Regular; */
  /* font-family: Inter; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #475467;
  /* text-align: left; */
}

.DecksManagement-cards {
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* 4 columns, each taking equal width */
  column-gap: 24px;
  row-gap: 24px;
}

.DecksManagement-section {
  margin: 24px 0;
}
.DecksManagement-section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionHeading {
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.inputDiv {
  margin-top: 4px;
}

.deckBody {
  max-height: 80vh;
  overflow-y: auto;
}

.eachDeckHeading {
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
}
.deckContainer {
  background-color: white;
  margin: 24px 8px;
  border-radius: 12px;
  padding: 24px;
  /* box-shadow: #1018280D; */
  box-shadow: 0px 1px 2px 0px #1018280D;

}

.subDeckContainer {
  width: 90%;
  margin-left: auto;
  margin-top: 8px;
}
.nestedDeckContainer {
  width: 90%;
  margin-left: auto;
  margin-top: 8px;
}
.deepNestedDeckContainer {
  width: 90%;
  margin-left: auto;
  margin-top: 8px;
}
.deepestNestedDeckContainer {
  width: 90%;
  margin-left: auto;
  margin-top: 8px;
}

.show {
  max-height: 2000px;
  transition: max-height 0.4s ease-in-out;
}

.hide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}