.detailText {
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #545961;
}
.title {
  /* font-family: Poppins; */
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #1d1f22;
}

.details {
  display: flex;
  column-gap: 6px;
}

.details-section {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.ExamsDetails-main-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.main-inner-right {
  display: flex;
  column-gap: 8px;
}

.ExamsDetails-main-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-inner-left,
.main-inner-right {
  display: flex;
  align-items: center;
}

.timeDiv {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.timeText {
  font-weight: bold;
  color: #4b78bb;
}
