.mainDiv {
  display: flex;
  width: 104px;
  height: 40px;
  padding: 10px;
  border-radius: 6px;
  gap: 12px;
  align-items: center;
  background-color: white;
  cursor: pointer;
  color: #4b78bb;
  font-weight: 600;
  font-size: 14px;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
