.StudentFavorites {
  display: flex;
  max-height: 88vh;
  overflow-y: auto;
}
.StudentFavorites-main {
  background-color: #f8fbff;
  flex: 0 0 65%;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.StudentFavorites-right {
  background-color: inherit;
  justify-content: space-between;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.right-section-main {
  padding: 24px;
}

.guageBox {
  background-color: white;
  height: 334px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.yellowButton {
  width: 183.5px;
  height: 44px;
  border-radius: 8px;
  background: #ff900e !important;
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondaryBtn {
  height: 44px;
  width: 183.5px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: white !important;
  color: #a2a9b3 !important;
  border: 1px solid #d0d5dd !important;
}

.sectionHeading {
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.viewMore {
  /* font-family: Poppins; */
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  /* text-align: left; */
  text-transform: uppercase;
  border-bottom: 1px solid #383c41;
  cursor: pointer;
  /* text-underline-offset: #383c41; */
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-height: 600px) {
}
/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 600px) {
  .StudentFavorites-right {
    display: none;
  }
  .StudentFavorites-main {
    flex: 1;
    padding: 12px 12px;
    min-height: calc(100vh - 97px);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .StudentFavorites-right {
    display: none;
  }
  .StudentFavorites-main {
    flex: 1;
    /* padding: 0px; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .StudentFavorites-right {
    display: none;
  }
  .StudentFavorites-main {
    flex: 1;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .StudentFavorites-right {
    display: none;
  }
  .StudentFavorites-main {
    flex: 1;
    padding: 32px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .StudentFavorites-right {
    display: block;
  }
  .StudentFavorites-main {
    flex: 0 0 65%;
  }
}
