.StudentDeckDetails {
  display: flex;
  max-height: 88vh;
  overflow-y: auto;
}
.StudentDeckDetails-main {
  background-color: #f8fbff;
  flex: 0 0 65%;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.StudentDeckDetails-right {
  background-color: inherit;
  flex: 1;
}
.StudentDeckDetails-actions-left {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/* .StudentDeckDetails {
  display: flex;
  flex-direction: column;
  max-height: 88vh;
  overflow-y: auto;
  background-color: #f8fbff;
} */
/* .StudentDeckDetails-main {


  padding: 0 32px;
  height: 100%;
} */

.StudentDeckDetails-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 16px;

  border-bottom: 1px solid lightgray;
}

.head-left {
  display: flex;
  column-gap: 12px;
}

.leftDetails {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  /* justify-content: space-between; */
}

.StudentDeckDetails-head {
  display: flex;
}

.heading {
  /* font-family: Poppins; */
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #1d1f22;
}
.image {
  width: 125px;
  height: 125px;
  border-radius: 12px;
  object-fit: contain;
}
.createdText {
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #0026b1;
}
.estTime {
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #6f7680;
}
.time {
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #2a2d31;
  /* color: #2a2d31; */
}

.estTimeDiv {
  display: flex;
  align-items: center;
  column-gap: 4px;
  /* border: 2px solid #0026b1; */
  /* border-radius: 24px; */
  padding: 8px;
  /* "flex items-center space-x-1 " */
}

.head-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 16px;
}

.addDeckText {
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #1d1f22;
}

.StudentDeckDetails-actions {
  padding-bottom: 16px;
  margin-bottom: 16px;

  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
}

.deckBody {
  display: flex;
  justify-content: space-between;
  padding: 16px 4px;
  margin: 16px 0;

  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  align-items: center;
}

.deckBody-left {
  display: flex;
  align-items: center;
  column-gap: 16px;
  flex: 1;
  /* cursor: pointer; */
}
.deckBody-right {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.deckName {
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #0026b1;
}

.totalCardsText {
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #6f7680;
}

.sectionHeading {
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.right-section-main {
  padding: 24px;
}

.viewMore {
  /* font-family: Poppins; */
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  /* text-align: left; */
  text-transform: uppercase;
  border-bottom: 1px solid #383c41;
  cursor: pointer;
  /* text-underline-offset: #383c41; */
}

.levelTag {
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  background: #6683eb;
  border-radius: 16px;
  padding: 4px 12px;
  color: white;
}
.searchTag {
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  background: #f2f7ff;
  border-radius: 16px;
  padding: 4px 12px;
  color: #6495dd;
}
