.truncateTitle {
  /* width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.tableHeading {
  text-align: center;
  font-weight: 500;
  font-family: Inter;
  font-size: 12px;
}
