.logo {
  width: 120px;
  height: 48px;
  object-fit: contain;
  cursor: pointer;
}

.HomeHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 24px;
  /* border-bottom: 1px solid #dcdfe2; */
  align-items: center;
  background-color: #ffffff;
}

.HomeHeader-buttons {
  display: flex;
  column-gap: 8px;
}

.HomeHeader-buttons-started {
  display: block;
  
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-height: 600px) {
}
/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 600px) {
  .HomeHeader-buttons {
    display: none;
  }

  .HomeHeader-buttons-started {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .HomeHeader-buttons {
    display: none;
  }

  .HomeHeader-buttons-started {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .HomeHeader-buttons {
    display: none;
  }

  .HomeHeader-buttons-started {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .HomeHeader-buttons {
    display: flex;
  }

  .HomeHeader-buttons-started {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
