.CreateQuestions {
  margin: 32px;
  flex: 0 0 65%;
}
.CreateQuestions-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 227, 227);
  padding: 24px 0;
  margin-bottom: 24px;
}

.title {
  /* //styleName: Body Small/Medium; */
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #0026b1;
}
.heading {
  /* font-family: Poppins; */
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #1d1f22;
}
.CreateQuestions-main {
  background: #e5eafc;
  padding: 24px;
  border-radius: 12px;
  /* width: 100%; */

  /* padding: 0 32px;
    height: 100%; */
}

.CreateQuestions-mainHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.CreateQuestions-section {
  margin: 16px 0;
  display: flex;
  column-gap: 16px;
  justify-content: space-between;
  max-width: 100%;
}

.ansAndReason-img {
  display: flex;
  border: 1px solid #dcdfe2;
  border-radius: 6px;
  padding: 8px;
  width: 40%;
  max-width: 168px;
  max-height: 64px;
  align-items: center;
  margin-top: 8px;
  background-color: white;
}
