.StudentDashboard {
  display: flex;
  max-height: 88vh;
  overflow-y: auto;
}
.StudentDashboard-main {
  background-color: #f8fbff;
  flex: 0 0 65%;
  padding: 0 32px;
  height: 100%;
}

.StudentDashboard-right {
  background-color: inherit;
  flex: 1;
}

.StudentDashboard-cards {
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* 4 columns, each taking equal width */
  column-gap: 24px;
  row-gap: 24px;
}

.StudentDashboard-section {
  margin: 20px 0;
}
.StudentDashboard-section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionHeading {
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.sectionHeading {
   /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.viewMore {
   /* font-family: Poppins; */
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  /* text-align: left; */
  text-transform: uppercase;
  border-bottom: 1px solid #383c41;
  cursor: pointer;
  /* text-underline-offset: #383c41; */
}

.right-section-main {
  padding: 24px;
}
